<html>

<head>
    <%- include('layout/head'); -%>
        <link href="/assets/css/signin.css" rel="stylesheet">
</head>

<body>

    <body data-new-gr-c-s-check-loaded="14.1026.0" data-gr-ext-installed="">
        <div class="container">
            <form class="form-signin" action="/reset?token=<%= token %> " method="POST">
                <a class="blog-header-logo text-dark" href="/">Ehsan Gazar Blog</a>
                <br />
                <br />
                <% for (const key in flash) { %>
                    <div class="alert alert-<%= key === 'error'?'danger':key %>" role="alert">
                        <%= flash[key] %>
                    </div>
                    <% } %>
                        <br />
                        <h1 class="h3 mb-3 font-weight-normal">Change your password</h1>
                        <label for="inputPassword" class="sr-only">New Password</label>
                        <input name="password" type="password" id="inputPassword" class="form-control"
                            placeholder="New Password" required="" autocomplete="off"
                            style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAkCAYAAADo6zjiAAAAAXNSR0IArs4c6QAAAbNJREFUWAntV8FqwkAQnaymUkpChB7tKSfxWCie/Yb+gbdeCqGf0YsQ+hU95QNyDoWCF/HkqdeiIaEUqyZ1ArvodrOHxanQOiCzO28y781skKwFW3scPV1/febP69XqarNeNTB2KGs07U3Ttt/Ozp3bh/u7V7muheQf6ftLUWyYDB5yz1ijuPAub2QRDDunJsdGkAO55KYYjl0OUu1VXOzQZ64Tr+IiPXedGI79bQHdbheCIAD0dUY6gV6vB67rAvo6IxVgWVbFy71KBKkAFaEc2xPQarXA931ot9tyHphiPwpJgSbfe54Hw+EQHMfZ/msVEEURjMfjCjbFeG2dFxPo9/sVOSYzxmAwGIjnTDFRQLMQAjQ5pJAQkCQJ5HlekeERxHEsiE0xUUCzEO9AmqYQhiF0Oh2Yz+ewWCzEY6aYKKBZCAGYs1wuYTabKdNNMWWxnaA4gp3Yry5JBZRlWTXDvaozUgGTyQSyLAP0dbb3DtQlmcan0yngT2ekE9ARc+z4AvC7nauh9iouhpcGamJeX8XF8MaClwaeROWRA7nk+tUnyzGvZrKg0/40gdME/t8EvgG0/NOS6v9NHQAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                        <% errors.forEach(error=> { %>
                        <div class="alert alert-danger" role="alert">
                            <%= error.param %> - <%= error.msg %>
                        </div>
                        <% }) %>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
                        <br />
                        <a href="/login">Login</a>
                        <br />
                        <a href="/signup">Signup</a>
                        <br />
                        <p class="mt-5 mb-3 text-muted">© 2021</p>
            </form>

        </div>
    </body>
</body>

</html>